<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment">
</head>
<body>
<div id="container">
    <h1>
        Hello, <span th:text="${username}">--name--</span>.
    </h1>
    <!-- list logow -->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>client_id</th>
            <th>details_json</th>
            <th>error</th>
            <th>ip_address</th>
            <th>event_time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event: ${events}">
            <td th:text="${event.client_id}">Text ...</td>
            <td th:text="${event.details_json}">Text ...</td>
            <td th:text="${event.error}">Text ...</td>
            <td th:text="${event.ip_address}">Text...</td>
            <td th:text="${#dates.format(event.event_time, 'dd-MMM-yyyy')}"></td>
        </tr>
        </tbody>
    </table>
    <div id="pagefoot" th:include="layout :: footerFragment">Footer
    </div>
</div>
<!-- container -->
</body>
</html>
